* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 20px;
  max-width: 1400px;
  margin: 20px auto;
  font-family: sans-serif;
}

h2 {
  margin-top: 0;
}

.container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  border: 1px solid rgba(75, 192, 192, 0.758);
  border-radius: 0px;
  flex-basis: calc(50% - 5px);
  padding: 20px;
}

canvas {
  margin-top: 15px;
  max-height: 400px;
}

th {
  padding-right: 10px;
  text-align: left;
}

td {
  padding: 0 5px;
}

.loader {
  width: 12px;
  height: 12px;
  position: relative;
  left: 0px;
  border-radius: 50%;
  color: #0000001f;
  background: currentColor;
  box-shadow: 0 0, 24px 0, 48px 0;
}

.loader::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: rgba(75, 192, 192, 0.817);
  animation: move 2s linear infinite alternate;
}

.loader.hide {
  display: none;
}

@keyframes move {
  0%,
  5% {
    left: 0px;
    width: 12px;
  }
  25%,
  30% {
    left: 0px;
    width: 36px;
  }
  47.5%,
  50% {
    left: 24px;
    width: 12px;
  }
  70%,
  70% {
    left: 24px;
    width: 36px;
  }
  95%,
  100% {
    left: 48px;
    width: 12px;
  }
}

@media (max-width: 768px) {
  .block {
    flex-basis: 100%;
  }
}
